# Build e Executáveis
build/
main
OEquilibriodaForca
*.out
*.exe
*.o

# Pastas do VS Code
.vscode/

# Arquivos do MacOS
*.dSYM/
.DS_Store

# CMake
CMakeLists.txt

# StarUML
*.mdj

# Arquivos de salvamento de jogo locais
*.txt