<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>OEquilibriodaForca</string>
	<key>CFBundleDisplayName</key>
	<string>O Equilíbrio da Força</string>
	<key>CFBundleName</key>
	<string>O Equilíbrio da Força</string>
	<key>CFBundleIdentifier</key>
	<string>com.raphaelgeraldine.OEquilibriodaForca</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleIconFile</key>
	<string>Icone</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.games</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>LSMultipleInstancesProhibited</key>
	<string>true</string>
</dict>
</plist>
